[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
pillow = "*"
social-auth-app-django = "*"
django-social-auth = "*"
python3-openid = "*"
python-social-auth = {extras = ["django"], version = "*"}
social-auth-core = "*"
django-ckeditor = "*"

[dev-packages]

[requires]
python_version = "3.10"
