{% load static %}
<!-- ==================FOOTER====================== -->

<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container container grid">
      <div>
        <h1 class="footer__title">Share Me Note</h1>
        <span class="footer__subtitle"></span>
      </div>

      <ul class="footer__links">
        <li>
          <a href="{% url 'note' %}" class="footer__link">Home</a>
        </li>
        <li>
          <a href="{% url 'rooms' %}" class="footer__link">Room</a>
        </li>
        <li>
          <a href="{% url 'index' %}" class="footer__link">Blog</a>
        </li>
        <li>
          <a href="{% url 'my_notes' %}" class="footer__link">My Note</a>
        </li>
        <li>
          <a href="{% url 'products:product-list' %}" class="footer__link">Features Note</a>
        </li>
        <li>
          <a href="{% url 'contact' %}" class="footer__link">Contact Us</a>
        </li>
      </ul>

      <div class="footer__socials">
        <a
          href="https://www.facebook.com/profile.php?id=100006263055850"
          target="_blank"
          class="footer__social"
        >
          <i class="uil uil-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com/shrimon39/"
          target="_blank"
          class="footer__social"
        >
          <i class="uil uil-instagram"></i>
        </a>

        <a
          href="https://www.behance.net/rimonmridha"
          target="_blank"
          class="footer__social"
        >
          <i class="uil uil-behance-alt"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/rimon-mridha-843673206/"
          target="_blank"
          class="footer__social"
        >
          <i class="uil uil-linkedin-alt"></i>
        </a>
        <a
          href="https://github.com/shrimon347"
          target="_blank"
          class="footer__social"
        >
          <i class="uil uil-github-alt"></i>
        </a>
      </div>
    </div>

    <p class="footer__copy">&#169; Share Me Note. All right reserved</p>
  </div>
</footer>
